In [116]:
import pandas as pd
import numpy as np
import re
import pyodbc
from sqlalchemy import create_engine

In [6]:
try:
    df = pd.read_csv('Crecimiento_Poblacion_Anual.csv')
except pd.errors.ParserError as e:
    print(f"Error al cargar 'Crecimiento_Poblacion_Anual.csv': {e}") #Problemas para leer el csv

try:
    df2 = pd.read_csv('Poblacion_Mundial.csv')
except pd.errors.ParserError as e:
    print(f"Error al cargar 'Poblacion_Mundial.csv': {e}")

Error al cargar 'Crecimiento_Poblacion_Anual.csv': Error tokenizing data. C error: Expected 3 fields in line 5, saw 68

In [9]:
def dividir_linea(line): #Dividir las lineas segun comas
    values = line.split(',')
    values = [v.strip() for v in values if v]
    return values

In [81]:
lineas = []
with open('Crecimiento_Poblacion_Anual.csv', 'r', encoding='utf-8') as archivo1:
    for idx, line in enumerate(archivo1):
        if idx < 4:  # Saltar las  lineas de metadatos y volver a leer
            continue
        values = dividir_linea(line)
        lineas.append(values)
column_names = ["Country Name", "Country Code", "Indicator Name", "Indicator Code"] + [str(year) for year in range(1960, 2024)]+["Null_Column"] #Se editó el df después para agregar las columnas

In [82]:
df = pd.DataFrame(lineas,columns=column_names) #Crear el dataframe

In [83]:
df

,Country Name,Country Code,Indicator Name,Indicator Code,1960,1961,1962,1963,1964,1965,...,2015,2016,2017,2018,2019,2020,2021,2022,2023,Null_Column
0,"""Aruba""","""ABW""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""2.17905904113205""","""1.54857174393805""","""1.3893370634193""","""1.21572057526871""","""1.03284091886278""",...,"""0.63795916173479""","""0.590062487333077""","""0.537295706145068""","""0.494795263046989""","""0.451969658863314""","""0.134255302359952""","""-0.0450446230906329""","""-0.0863922826549927""",,None
1,"""""","""AFE""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""2.66018011627118""","""2.73263311469827""","""2.75324827208996""","""2.80691497157682""","""2.84078687831499""",...,"""2.80258582087383""","""2.72815852998758""","""2.65567159923015""","""2.68837142807428""","""2.69113438056398""","""2.67818371641901""","""2.60747169409558""","""2.54375652455458""",,None
2,"""Afganistán""","""AFG""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""1.92595161110872""","""2.01487886339461""","""2.07899662655224""","""2.13965084372647""","""2.21600692082533""",...,"""3.12134122890873""","""2.58154939895659""","""2.86649214750073""","""2.88520797304849""","""2.90852909268743""","""3.13474690779163""","""2.85135765449931""","""2.53449831666733""",,None
3,"""""","""AFW""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""2.11578911759847""","""2.14572305938492""","""2.19082685093935""","""2.21135999620788""","""2.24256745086745""",...,"""2.72331733741717""","""2.71305851036988""","""2.70626607586351""","""2.66923866802735""","""2.63398206911344""","""2.61564613985792""","""2.57337740168795""","""2.53979944247918""",,None
4,"""Angola""","""AGO""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""1.5583550408936""","""1.46073837045336""","""1.41042530862807""","""1.3017451764171""","""1.11104064143605""",...,"""3.61767751762095""","""3.58621100683242""","""3.5509866361995""","""3.46445698360985""","""3.39527779197097""","""3.26834840458456""","""3.16602986153025""","""3.09675267067326""",,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
261,"""Kosovo""","""XKX""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""1.98647410264398""","""2.85733724440559""","""2.77795641070757""","""2.70286723879194""","""2.63173083173734""",...,"""-1.3649323381159""","""-0.596734073866868""","""0.753584842739213""","""0.33901096210321""","""-0.457730006092952""","""0.0701311089258031""","""-0.229015994470004""","""-1.35587443993054""",,None
262,"""Yemen","Rep. del""","""YEM""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""1.8627371586163""","""1.87229143755514""","""1.83946697124667""","""1.92005222485611""",...,"""2.81107242907205""","""2.71295489821162""","""2.6215373231585""","""2.56432067801961""","""2.48635978893057""","""2.42620792944992""","""2.31044739697631""","""2.137789700681""","""2.14462842106017""",
263,"""Sudáfrica""","""ZAF""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""2.79949245650161""","""2.97865062603954""","""3.03343963252032""","""3.06137824326201""","""3.09150051024929""",...,"""2.07401685853513""","""0.97200398206436""","""0.387278487857363""","""1.22553003994341""","""1.29507386292128""","""1.22317929511453""","""0.998920418563044""","""0.841058243677696""",,None
264,"""Zambia""","""ZMB""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""3.15605553022329""","""3.1785631336462""","""3.19663245911772""","""3.19444093941476""","""3.20158974619794""",...,"""3.19189626183661""","""3.14740749310829""","""3.11359549302693""","""3.06188780166712""","""3.00761810683645""","""2.9338181351684""","""2.84080597789489""","""2.7580323433586""",,None
265,"""Zimbabwe""","""ZWE""","""Crecimiento de la población (% anual)""","""SP.POP.GROW""","""""","""3.09486536964925""","""3.10531952061288""","""3.11540831177673""","""3.11987833923854""","""3.1248285390059""",...,"""2.13629423811133""","""2.08180572500247""","""2.04361989880383""","""2.02053728777103""","""1.98925274777043""","""2.03111171035477""","""2.0457148779533""","""2.02403630999966""",,None

In [44]:
df2 = pd.read_csv('Poblacion_Mundial.csv')
df2

,population_in_2023,population_in_2022,city,country,population_growthRate,type
0,37194105,37274002,Tokyo,Japan,-0.0021,w
1,32941309,32065760,Delhi,India,0.0273,w
2,29210808,28516903,Shanghai,China,0.0243,w
3,23209616,22478117,Dhaka,Bangladesh,0.0325,w
4,22619736,22429799,Sao Paulo,Brazil,0.0085,w
...,...,...,...,...,...,...
773,752916,734805,Tongling,China,0.0246,w
774,752744,729109,Tirupati,India,0.0324,w
775,751679,733917,Wuzhou,China,0.0242,w
776,750102,723114,Yuxi,China,0.0373,w
777,750097,733643,Suining Sichuan,China,0.0224,w

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 69 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Country Name    266 non-null    object
 1   Country Code    266 non-null    object
 2   Indicator Name  266 non-null    object
 3   Indicator Code  266 non-null    object
 4   1960            266 non-null    object
 5   1961            266 non-null    object
 6   1962            266 non-null    object
 7   1963            266 non-null    object
 8   1964            266 non-null    object
 9   1965            266 non-null    object
 10  1966            266 non-null    object
 11  1967            266 non-null    object
 12  1968            266 non-null    object
 13  1969            266 non-null    object
 14  1970            266 non-null    object
 15  1971            266 non-null    object
 16  1972            266 non-null    object
 17  1973            266 non-null    object
 18  1974            266 non-null    object
 19  1975            266 non-null    object
 20  1976            266 non-null    object
 21  1977            266 non-null    object
 22  1978            266 non-null    object
 23  1979            266 non-null    object
 24  1980            266 non-null    object
 25  1981            266 non-null    object
 26  1982            266 non-null    object
 27  1983            266 non-null    object
 28  1984            266 non-null    object
 29  1985            266 non-null    object
 30  1986            266 non-null    object
 31  1987            266 non-null    object
 32  1988            266 non-null    object
 33  1989            266 non-null    object
 34  1990            266 non-null    object
 35  1991            266 non-null    object
 36  1992            266 non-null    object
 37  1993            266 non-null    object
 38  1994            266 non-null    object
 39  1995            266 non-null    object
 40  1996            266 non-null    object
 41  1997            266 non-null    object
 42  1998            266 non-null    object
 43  1999            266 non-null    object
 44  2000            266 non-null    object
 45  2001            266 non-null    object
 46  2002            266 non-null    object
 47  2003            266 non-null    object
 48  2004            266 non-null    object
 49  2005            266 non-null    object
 50  2006            266 non-null    object
 51  2007            266 non-null    object
 52  2008            266 non-null    object
 53  2009            266 non-null    object
 54  2010            266 non-null    object
 55  2011            266 non-null    object
 56  2012            266 non-null    object
 57  2013            266 non-null    object
 58  2014            266 non-null    object
 59  2015            266 non-null    object
 60  2016            266 non-null    object
 61  2017            266 non-null    object
 62  2018            266 non-null    object
 63  2019            266 non-null    object
 64  2020            266 non-null    object
 65  2021            266 non-null    object
 66  2022            266 non-null    object
 67  2023            266 non-null    object
 68  Null_Column     9 non-null      object
dtypes: object(69)
memory usage: 143.5+ KB

In [27]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 778 entries, 0 to 777
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   population_in_2023     778 non-null    int64
 1   population_in_2022     778 non-null    int64
 2   city                   778 non-null    object
 3   country                778 non-null    object
 4   population_growthRate  778 non-null    float64
 5   type                   778 non-null    object
dtypes: float64(1), int64(2), object(3)
memory usage: 36.6+ KB

In [52]:
df.isnull().sum()

Country Name        0
Country Code        0
Indicator Name      0
Indicator Code      0
1960                0
                 ...
2020                0
2021                0
2022                0
2023                0
Null_Column       257
Length: 69, dtype: int64

In [47]:
df2.isnull().sum()

population_in_2023       0
population_in_2022       0
city                     0
country                  0
population_growthRate    0
type                     0
dtype: int64

In [84]:
columnas_para_eliminar = ["Indicator Name", "Indicator Code", "1960", "2023", "Null_Column"]
df = df.drop(columnas_para_eliminar, axis=1) #Borrar las columnas que no necesito
df.head()

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,"""Aruba""","""ABW""","""2.17905904113205""","""1.54857174393805""","""1.3893370634193""","""1.21572057526871""","""1.03284091886278""","""0.86218382371151""","""0.388846828315926""","""-0.0857193332764354""",...,"""0.749301039347625""","""0.691615260101675""","""0.63795916173479""","""0.590062487333077""","""0.537295706145068""","""0.494795263046989""","""0.451969658863314""","""0.134255302359952""","""-0.0450446230906329""","""-0.0863922826549927"""
1,"""""","""AFE""","""2.66018011627118""","""2.73263311469827""","""2.75324827208996""","""2.80691497157682""","""2.84078687831499""","""2.81360949114521""","""2.83050527400394""","""2.88158851658864""",...,"""2.78020683355606""","""2.77499029133435""","""2.80258582087383""","""2.72815852998758""","""2.65567159923015""","""2.68837142807428""","""2.69113438056398""","""2.67818371641901""","""2.60747169409558""","""2.54375652455458"""
2,"""Afganistán""","""AFG""","""1.92595161110872""","""2.01487886339461""","""2.07899662655224""","""2.13965084372647""","""2.21600692082533""","""2.25352401228011""","""2.29263788976095""","""2.34735064349307""",...,"""3.46678830410982""","""3.65757606530364""","""3.12134122890873""","""2.58154939895659""","""2.86649214750073""","""2.88520797304849""","""2.90852909268743""","""3.13474690779163""","""2.85135765449931""","""2.53449831666733"""
3,"""""","""AFW""","""2.11578911759847""","""2.14572305938492""","""2.19082685093935""","""2.21135999620788""","""2.24256745086745""","""2.27281641022623""","""2.27572062672409""","""2.29595318388334""",...,"""2.76183897675104""","""2.75073056798483""","""2.72331733741717""","""2.71305851036988""","""2.70626607586351""","""2.66923866802735""","""2.63398206911344""","""2.61564613985792""","""2.57337740168795""","""2.53979944247918"""
4,"""Angola""","""AGO""","""1.5583550408936""","""1.46073837045336""","""1.41042530862807""","""1.3017451764171""","""1.11104064143605""","""0.875806322615983""","""0.69669809166994""","""0.695984736456634""",...,"""3.73552542857565""","""3.68442896683492""","""3.61767751762095""","""3.58621100683242""","""3.5509866361995""","""3.46445698360985""","""3.39527779197097""","""3.26834840458456""","""3.16602986153025""","""3.09675267067326"""

In [90]:
df.replace('"', '', regex=True, inplace=True)
numeric_columns = df.columns[2:] 
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce') #Quitamos todas las comillas y convertirmos en valores numericos

In [100]:
df

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
2,Afganistán,AFG,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
4,Angola,AGO,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
5,Albania,ALB,3.120855,3.056731,2.953749,2.880686,2.754021,2.634564,2.630190,2.842511,...,-0.183211,-0.207047,-0.291206,-0.159880,-0.091972,-0.246732,-0.426007,-0.574207,-0.926918,-1.215790
6,Andorra,AND,7.868139,7.521207,7.223198,6.941512,6.653122,6.997054,7.920681,8.132678,...,0.497262,0.355275,0.174378,1.100603,1.772183,1.580147,1.757491,1.761891,1.702288,0.994607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,3.028625,2.821487,2.671161,2.532956,2.501974,2.425861,2.066103,1.753931,...,0.911922,0.905168,0.895084,0.964528,1.009753,0.992506,1.045535,1.416968,1.768578,1.640310
261,Kosovo,XKX,1.986474,2.857337,2.777956,2.702867,2.631731,2.564243,2.588275,2.437022,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
263,Sudáfrica,ZAF,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,3.086807,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
264,Zambia,ZMB,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,3.225439,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
265,Zimbabwe,ZWE,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,3.152789,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [97]:
df.replace('', np.nan, inplace=True)
df = df.dropna(subset=["Country Name"])
df.head() #Borro las que no tengan nombre

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
2,Afganistán,AFG,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
4,Angola,AGO,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
5,Albania,ALB,3.120855,3.056731,2.953749,2.880686,2.754021,2.634564,2.630190,2.842511,...,-0.183211,-0.207047,-0.291206,-0.159880,-0.091972,-0.246732,-0.426007,-0.574207,-0.926918,-1.215790
6,Andorra,AND,7.868139,7.521207,7.223198,6.941512,6.653122,6.997054,7.920681,8.132678,...,0.497262,0.355275,0.174378,1.100603,1.772183,1.580147,1.757491,1.761891,1.702288,0.994607

In [99]:
df=df.dropna()

In [105]:
df2 = df2.rename(columns={'country': "Country Name"})

C:\Users\casa\AppData\Local\Temp\ipykernel_16776\3922012326.py:1: FutureWarning: The behavior of pd.concat with len(keys) != len(objs) is deprecated. In a future version this will raise instead of truncating to the smaller of the two sequences
  df_uni = pd.concat([df, df2], axis=1, join='inner', keys="Country Name")

             C                                                                 \
  Country Name Country Code      1961      1962      1963      1964      1965
0        Aruba          ABW  2.179059  1.548572  1.389337  1.215721  1.032841
2   Afganistán          AFG  1.925952  2.014879  2.078997  2.139651  2.216007
4       Angola          AGO  1.558355  1.460738  1.410425  1.301745  1.111041
5      Albania          ALB  3.120855  3.056731  2.953749  2.880686  2.754021
6      Andorra          AND  7.868139  7.521207  7.223198  6.941512  6.653122

                                 ...                                          \
       1966      1967      1968  ...      2019      2020      2021      2022
0  0.862184  0.388847 -0.085719  ...  0.451970  0.134255 -0.045045 -0.086392
2  2.253524  2.292638  2.347351  ...  2.908529  3.134747  2.851358  2.534498
4  0.875806  0.696698  0.695985  ...  3.395278  3.268348  3.166030  3.096753
5  2.634564  2.630190  2.842511  ... -0.426007 -0.574207 -0.926918 -1.215790
6  6.997054  7.920681  8.132678  ...  1.757491  1.761891  1.702288  0.994607

                   o                                               \
  population_in_2023 population_in_2022         city Country Name
0           37194105           37274002        Tokyo        Japan
2           29210808           28516903     Shanghai        China
4           22619736           22429799    Sao Paulo       Brazil
5           22281442           22085139  Mexico City       Mexico
6           22183201           21750020        Cairo        Egypt


  population_growthRate type
0               -0.0021    w
2                0.0243    w
4                0.0085    w
5                0.0089    w
6                0.0199    w

[5 rows x 70 columns]

In [108]:
diccionario = { #Traduccion de todos los paises para facilitar el procesamiento
    'Aruba': 'Aruba',
    'Afganistán': 'Afghanistan',
    'Angola': 'Angola',
    'Albania': 'Albania',
    'Andorra': 'Andorra',

    'Bélgica': 'Belgium',
    'Benin': 'Benin',
    'Burkina Faso': 'Burkina Faso',

    'Colombia': 'Colombia',
    'Comoras': 'Comoros',
    'Cabo Verde': 'Cabo Verde',
    'Costa Rica': 'Costa Rica',

    'España': 'Spain',
    'Estonia': 'Estonia',

    'Grecia': 'Greece',
    'Granada': 'Grenada',
    'Groenlandia': 'Greenland',
    'Guatemala': 'Guatemala',
    'Guam': 'Guam',
    'Guyana': 'Guyana',
    'Ingreso alto': 'High income',
    'Hong Kong, Región Administrativa Especial': 'Hong Kong SAR, China',
    'Honduras': 'Honduras',

    'Japón': 'Japan',
    'Kazajstán': 'Kazakhstan',
    'Kenya': 'Kenya',
    'Kirguistán': 'Kyrgyz Republic',
    'Camboya': 'Cambodia',
 
    'Lesotho': 'Lesotho',
    'avanzada del dividendo demográfico': 'Late-demographic dividend',
    'Lituania': 'Lithuania',
    'Montenegro': 'Montenegro',
    'Mongolia': 'Mongolia',

    'Nueva Zelanda': 'New Zealand',
    'Miembros OCDE': 'OECD members',
    'Omán': 'Oman',
    'Otros Estados pequeños': 'Other small states',
    'Pakistán': 'Pakistan',
    'Panamá': 'Panama',
    'Perú': 'Peru',

    'El Salvador': 'El Salvador',
    'San Marino': 'San Marino',
    'Somalia': 'Somalia',
    'África al sur del Sahara': 'Sub-Saharan Africa',
    'Pequeños Estados': 'Small states',

    'Turkmenistán': 'Turkmenistan',
    'América Latina y el Caribe (BIRF y la AIF)': 'Latin America & the Caribbean (IBRD-only)',
    'Timor-Leste': 'Timor-Leste',
    'Oriente Medio y Norte de África (BIRF y la AIF)': 'Middle East & North Africa (IBRD-only)',
    'Tonga': 'Tonga',

    'Yemen, Rep. del': 'Yemen, Rep.',
    'Sudáfrica': 'South Africa',
    'Zambia': 'Zambia',
    'Zimbabwe': 'Zimbabwe'
}

In [109]:
df['Country Name'] = df['Country Name'].map(diccionario)

C:\Users\casa\AppData\Local\Temp\ipykernel_16776\3846772435.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Country Name'] = df['Country Name'].map(diccionario)

In [111]:
df

,Country Name,Country Code,1961,1962,1963,1964,1965,1966,1967,1968,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Aruba,ABW,2.179059,1.548572,1.389337,1.215721,1.032841,0.862184,0.388847,-0.085719,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
2,Afghanistan,AFG,1.925952,2.014879,2.078997,2.139651,2.216007,2.253524,2.292638,2.347351,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
4,Angola,AGO,1.558355,1.460738,1.410425,1.301745,1.111041,0.875806,0.696698,0.695985,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
5,Albania,ALB,3.120855,3.056731,2.953749,2.880686,2.754021,2.634564,2.630190,2.842511,...,-0.183211,-0.207047,-0.291206,-0.159880,-0.091972,-0.246732,-0.426007,-0.574207,-0.926918,-1.215790
6,Andorra,AND,7.868139,7.521207,7.223198,6.941512,6.653122,6.997054,7.920681,8.132678,...,0.497262,0.355275,0.174378,1.100603,1.772183,1.580147,1.757491,1.761891,1.702288,0.994607
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
260,Samoa,WSM,3.028625,2.821487,2.671161,2.532956,2.501974,2.425861,2.066103,1.753931,...,0.911922,0.905168,0.895084,0.964528,1.009753,0.992506,1.045535,1.416968,1.768578,1.640310
261,Kosovo,XKX,1.986474,2.857337,2.777956,2.702867,2.631731,2.564243,2.588275,2.437022,...,0.607468,-0.294474,-1.364932,-0.596734,0.753585,0.339011,-0.457730,0.070131,-0.229016,-1.355874
263,South Africa,ZAF,2.799492,2.978651,3.033440,3.061378,3.091501,3.092211,3.089296,3.086807,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
264,Zambia,ZMB,3.156056,3.178563,3.196632,3.194441,3.201590,3.218695,3.219669,3.225439,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
265,Zimbabwe,ZWE,3.094865,3.105320,3.115408,3.119878,3.124829,3.129628,3.135761,3.152789,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [112]:
df_uni = pd.merge(df2, df, on='Country Name', how='right')
df_uni

,population_in_2023,population_in_2022,city,Country Name,population_growthRate,type,Country Code,1961,1962,1963,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,NaN,NaN,NaN,Aruba,NaN,NaN,ABW,2.179059,1.548572,1.389337,...,0.749301,0.691615,0.637959,0.590062,0.537296,0.494795,0.451970,0.134255,-0.045045,-0.086392
1,4588666.0,4457882.0,Kabul,Afghanistan,0.0293,w,AFG,1.925952,2.014879,2.078997,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
2,9292336.0,8952496.0,Luanda,Angola,0.0380,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
3,958548.0,914456.0,Lubango,Angola,0.0482,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
4,904676.0,861878.0,Cabinda,Angola,0.0497,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,892254.0,878960.0,Soshanguve,South Africa,0.0151,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
811,793927.0,786127.0,Vereeniging,South Africa,0.0099,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
812,3181250.0,3041789.0,Lusaka,Zambia,0.0458,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
813,762981.0,735499.0,Kitwe,Zambia,0.0374,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
814,1578128.0,1557740.0,Harare,Zimbabwe,0.0131,w,ZWE,3.094865,3.105320,3.115408,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [115]:
df_uni=df_uni.dropna()
df_uni

,population_in_2023,population_in_2022,city,Country Name,population_growthRate,type,Country Code,1961,1962,1963,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
1,4588666.0,4457882.0,Kabul,Afghanistan,0.0293,w,AFG,1.925952,2.014879,2.078997,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
2,9292336.0,8952496.0,Luanda,Angola,0.0380,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
3,958548.0,914456.0,Lubango,Angola,0.0482,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
4,904676.0,861878.0,Cabinda,Angola,0.0497,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
5,809468.0,776832.0,Benguela,Angola,0.0420,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
810,892254.0,878960.0,Soshanguve,South Africa,0.0151,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
811,793927.0,786127.0,Vereeniging,South Africa,0.0099,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
812,3181250.0,3041789.0,Lusaka,Zambia,0.0458,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
813,762981.0,735499.0,Kitwe,Zambia,0.0374,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
814,1578128.0,1557740.0,Harare,Zimbabwe,0.0131,w,ZWE,3.094865,3.105320,3.115408,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [129]:
conn_str = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-T969PRI\\SQLEXPRESS;DATABASE=Proyecto;Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)
engine = create_engine('mssql+pyodbc://', creator=lambda: conn)
df_uni.to_sql('Poblacion_Mundial', con=engine, if_exists='replace', index=False)

conn.close() #Datos guardados en  SQL local

In [1]:
import pandas as pd
import pyodbc
from sqlalchemy import create_engine
#Cargar el dataset ya subido a SQL como un nuevo dataframe 
conn_str = 'DRIVER={ODBC Driver 17 for SQL Server};SERVER=DESKTOP-T969PRI\\SQLEXPRESS;DATABASE=Proyecto;Trusted_Connection=yes;'
conn = pyodbc.connect(conn_str)
engine = create_engine('mssql+pyodbc://', creator=lambda: conn)
df_fin = pd.read_sql('SELECT * FROM Poblacion_Mundial', con=engine)
conn.close()

In [2]:
df_fin #Comprobar que se cargaron los datos

,population_in_2023,population_in_2022,city,Country Name,population_growthRate,type,Country Code,1961,1962,1963,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,4588666.0,4457882.0,Kabul,Afghanistan,0.0293,w,AFG,1.925952,2.014879,2.078997,...,3.466788,3.657576,3.121341,2.581549,2.866492,2.885208,2.908529,3.134747,2.851358,2.534498
1,9292336.0,8952496.0,Luanda,Angola,0.0380,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
2,958548.0,914456.0,Lubango,Angola,0.0482,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
3,904676.0,861878.0,Cabinda,Angola,0.0497,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
4,809468.0,776832.0,Benguela,Angola,0.0420,w,AGO,1.558355,1.460738,1.410425,...,3.735525,3.684429,3.617678,3.586211,3.550987,3.464457,3.395278,3.268348,3.166030,3.096753
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
674,892254.0,878960.0,Soshanguve,South Africa,0.0151,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
675,793927.0,786127.0,Vereeniging,South Africa,0.0099,w,ZAF,2.799492,2.978651,3.033440,...,1.361621,1.576294,2.074017,0.972004,0.387278,1.225530,1.295074,1.223179,0.998920,0.841058
676,3181250.0,3041789.0,Lusaka,Zambia,0.0458,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
677,762981.0,735499.0,Kitwe,Zambia,0.0374,w,ZMB,3.156056,3.178563,3.196632,...,3.271299,3.247118,3.191896,3.147407,3.113595,3.061888,3.007618,2.933818,2.840806,2.758032
678,1578128.0,1557740.0,Harare,Zimbabwe,0.0131,w,ZWE,3.094865,3.105320,3.115408,...,2.163267,2.191391,2.136294,2.081806,2.043620,2.020537,1.989253,2.031112,2.045715,2.024036

In [5]:
import pymongo 
cliente1 = pymongo.MongoClient("mongodb+srv://shazam:shazam123456@proyecto1.g6uwmfh.mongodb.net/")
db1 = cliente1.get_database("proyecto")
coleccion1 = db1["noticias"]
doc=df_fin.to_dict(orient='records')
coleccion1.insert_many(doc)

cliente1.close()  #Conexión cerrada y datos subidos pero fallo al usar en  power BI

C:\Users\casa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\cryptography\x509\base.py:594: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

In [3]:
from pymongo import MongoClient #Datos subidos a nueva colección
import csv
#subida del archivos al MONGODB ATLAS
cliente = MongoClient("mongodb+srv://shazam:shazam123456@proyecto1.g6uwmfh.mongodb.net/")
db = cliente['proyecto']
coleccion = db['noticias2']

with open('datos_noticias.csv', 'r') as archivo_csv:
    lector_csv = csv.DictReader(archivo_csv)
    for fila in lector_csv:
        coleccion.insert_one(fila)

print("Archivo CSV insertado como documentos en la nueva colección en MongoDB Atlas.")

C:\Users\casa\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\cryptography\x509\base.py:594: CryptographyDeprecationWarning: Parsed a negative serial number, which is disallowed by RFC 5280.
  return rust_x509.load_der_x509_certificate(data)

Archivo CSV insertado como documentos en la nueva colección en MongoDB Atlas.

In [6]:
df_fin.to_csv('datos_noticias.csv', index=False) #Guardar csv